<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <!-- WCF service configuration -->
  <system.serviceModel>
    <services>
      <service name="GameLibrary.Game">
        <endpoint
          name="GameService"
          address="net.tcp://localhost:40000/GameLibrary/Game"
          binding="netTcpBinding"
          contract="GameLibrary.IGame" />
      </service>
    </services>
  </system.serviceModel>
</configuration>